@import url("cores.css");

/* Parte da grid de cursos */

.main-conteudos__geral {
  width: 90vw;
  margin: 50px 5vw;
  padding: 0;
  align-items: flex-start;
}

#div-conteudos-perfil {
  padding: 20px;
  border-radius: 20px;
  border: 1px solid var(--cor-botoes);
  width: 65vw;
  height: auto;
  margin-inline-end: 5vw;
}

.main-conteudos__grid {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 2vw;
  margin: 0;
}

.main-conteudos__grid-links {
  width: 100%;
  box-sizing: border-box;
}

/* Parte do perfil do usuário */

#div-perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  background: var(--cor-elementos);
  width: 35vw;
  height: auto;
  border-radius: 30px;
  padding: 20px;
}

.main-conteudos__perfil__foto {
  height: 200px;
  width: auto;
  max-width: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.div-foto {
  height: 200px;
  width: 200px;
}

.main-conteudos__empty {
  justify-content: center;
  font-size: 30px;
  text-align: center;
  background: var(--cor-elementos);
  border-radius: 30px;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
}

.linha-botoes {
  margin-bottom: 20px;
}

.div-nome {
  font-size: 24px;
  font-weight: bolder;
}

.texto-bio {
  font-size: 20px;
  font-weight: bolder;
}

.texto-contatos {
  font-size: 20px;
  font-weight: bolder;
}
