@import url("cores.css");

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  box-sizing: border-box;
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  font-family: "Courier", Courier, monospace;
}

header {
  display: flex;
  padding: 30px;
  margin-bottom: 30px;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  background-color: var(--cor-fundo--alternativo);
  font-weight: bold;
}

.header-info {
  width: auto;
  display: flex;
  align-items: center;
  font-size: 45px;
  justify-content: space-between;
}

.header-info-logo {
  width: auto;
  height: 100px;
  font-size: 10px;
  margin-right: 20px;
  border-radius: 20px;
  vertical-align: bottom;
}

.header-botoes {
  display: flex;
  align-items: center;
}

.header-botoes-gerais {
  text-decoration: none;
  color: var(--cor-texto);
  font-size: 30px;
  padding: 15px;
  margin: 0 10px;
}

.header-botoes-gerais-atual {
  border-radius: 50px;
  background-color: var(--cor-botoes);
}

.header-botoes-tema {
  font-size: 30px;
  border-radius: 100%;
  width: 5vw;
  height: 5vw;
  background-color: var(--cor-botao--tema);
}

/*
Parte do main
*/

.main-home {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.main-home__apresentacao {
  font-size: 30px;
  text-align: center;
  background: var(--cor-elementos);
  border-radius: 30px;
  width: 60vw;
  max-height: 400px;
  padding: 10px;
}

/*
Parte do footer
*/

.linha-divisoria {
  margin: 30px 10px;
}

footer {
  padding-inline: 10vw;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 35vw 35vw;
  justify-content: space-between;
  text-align: center;
  place-items: center;
}

.footer-sobre {
  font-weight: bold;
  width: 35vw;
}

.footer-sobre-conteudo {
  line-height: 1.5;
  background: var(--cor-fundo--alternativo);
  border-radius: 30px;
  padding: 20px;
}
