@import url("cores.css");

/* Parte da linha de filtros */
.main-linha-filtros {
  align-self: flex-start;
  display: flex;
  gap: 10px;
  flex-direction: row;
  margin-inline-start: 7vw;
}

.main-botoes {
  margin-right: 10px;
}

/* Fim da parte da linha de filtros */

.main-conteudos__empty {
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  text-align: center;
  background: var(--cor-elementos);
  border-radius: 30px;
  width: 80vw;
  height: auto;
  padding: 40px;
  margin: 20px 8vw;
}

.main-conteudos {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-conteudos__grid {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 2vw;
  margin: 30px 0;
}

.main-conteudos__grid-links {
  text-decoration: none;
  place-content: center;
  background: var(--cor-elementos);
  color: var(--cor-texto);
  border-radius: 30px;
  width: 40vw;
  height: 200px;
  padding: 0 10px;
}

.conteudo_titulo {
  padding: 20px;
  font-size: 35px;
  height: 35%;
  font-weight: bold;
}

.conteudo_descricao {
  font-size: 20px;
  height: 35%;
  overflow: hidden;
}

.linha_container_conteudo {
  color: white;
  margin: 0 20px;
}

.main-conteudos__geral {
  display: none;
}

/* Fim da parte do main, inicio da linha de botoes inferior */

.main-linha-inferior {
  display: none;
  align-self: flex-end;
  gap: 10px;
  flex-direction: row;
  margin-inline-end: 7vw;
}
