@import url("cores.css");

/* Parte da linha de filtros */
.main-linha-filtros {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  margin: 0 7vw;
}

.main-linha-filtro-especifico {
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: var(--cor-fundo--alternativo);
  padding: 15px;
  border-radius: 20px;
}

#main-filtro-matriculados {
  width: 60px;
  height: 40px;
  border-radius: 20px;
  margin: 0 10px;
}

.filtro-matriculados-false {
  background-color: var(--cor-extra);
}

.filtro-matriculados-true {
  background-color: var(--cor-botoes);
}

/* Fim da parte da linha de filtros */

.main-conteudos__empty {
  font-size: 30px;
  text-align: center;
  background: var(--cor-elementos);
  border-radius: 30px;
  width: 80vw;
  height: auto;
  padding: 40px;
  margin-inline: 10vw;
}

.main-conteudos {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.main-conteudos__grid {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: repeat(auto-fill);
  gap: 30px 2vw;
}

.main-conteudos__grid-links {
  text-decoration: none;
  place-content: center;
  background: #986bfa;
  color: #efedfc;
  border-radius: 30px;
  width: 40vw;
  height: 200px;
  padding: 0 10px;
}

.curso_titulo {
  padding: 20px;
  font-size: 35px;
  height: 35%;
  font-weight: bold;
}

.curso_descricao {
  font-size: 20px;
  height: 35%;
  overflow: hidden;
}

.linha_container_curso {
  color: white;
  margin: 0 20px;
}